# eclipse stuff
.buildpath
.metadata
.project
.settings

# other Paul garbage
test.html
test_sql
toonces_library/MySqlOOPBasics
test2.html

# images - for now
*.jpg
*.png
*.gif
*.psd

# other centagon stuffs
custom_js
toonces_library/static_data/footer_test.html
toonces_library/static_data/head_tags.html
.gitignore
