# MacOS Stuff
.DS_Store

# eclipse stuff
.buildpath
.metadata
.project
.settings

# phpstorm stuff
.idea/

# other Paul garbage
test.html
test_sql
toonces_library/MySqlOOPBasics
test2.html
test3.html
paulphpunit.xml


# photoshop
*.psd

# other centagon stuffs
toonces_library/static_data/footer_test.html
.gitignore
toonces_dash_mockup.html

# external libraries
ckeditor
go-pear.phar
phpunit-6.5.8.phar

# EB stuff
.elasticbeanstalk
