# eclipse stuff
.buildpath
.metadata
.project
.settings

# other Paul garbage
test.html
test_sql
toonces_library/MySqlOOPBasics
test2.html
test3.html

# photoshop
*.psd

# other centagon stuffs
custom_js
toonces_library/static_data/footer_test.html
toonces_library/static_data/head_tags.html
.gitignore
toonces_dash_mockup.html

# external libraries
ckeditor
