<!-- PHPUnit Test Config File
Initial Commit: Paul Anderson, 12/11/2017
 -->
<phpunit>
	<php>
		<var name="TEST_FILE_PATH" value="~/temp/" />
	</php>
	<testsuites>
		<testsuite name="endpointoperator">
			<file>unittest/endpointoperator/XmlEndpointOperatorTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>