<!-- PHPUnit Test Config File
Initial Commit: Paul Anderson, 12/11/2017
 -->
<phpunit>
	<php>
		<var name="DB_HOST" value="localhost" />
		<var name="DB_PORT" value="22" />
		<var name="DB_DBNAME" value="toonces" />
		<var name="DB_USERNAME" value="unittest" />
		<var name="DB_PASSWORD" value="kittycat" />
		<var name="TOONCES_USERNAME" value="email@example.com" />
		<var name="TOONCES_PASSWORD" value="correcthorsebatterystaple" />
		<var name="NON_ADMIN_USERNAME" value="user@example.com" />
		<var name="NON_ADMIN_PASSWORD" value="reallySecurePassword" />
		<var name="TEST_FILE_PATH" value="~/temp" />
	</php>
	<testsuites>
		<testsuite name="installers">
			<file>unittest/install/TestSetupDatabase.php</file>
		</testsuite>
		<testsuite name="resources">
			<file>unittest/resource/TestApiPageView.php</file>
			<file>unittest/resource/TestJsonPageView.php</file>
			<file>unittest/resource/TestFilePageView.php</file>
			<file>unittest/resource/TestApiResource.php</file>
			<file>unittest/resource/TestDataResource.php</file>
			<file>unittest/resource/TestBlogDataResource.php</file>
			<file>unittest/resource/TestHTMLPageView.php</file>
			<file>unittest/resource/TestHTMLResource.php</file>
			<file>unittest/resource/TestHTMLViewResource.php</file>
			<file>unittest/resource/TestFileResource.php</file>
			<file>unittest/resource/TestPageDataResource.php</file>
			<file>unittest/resource/TestExtHtmlPageResource.php</file>
		</testsuite>
		<testsuite name="pagebuilders">
			<file>unittest/pagebuilder/TestPageApiPageBuilder.php</file>
			<file>unittest/pagebuilder/TestExtHtmlPageBuilder.php</file>
			<file>unittest/pagebuilder/TestDocumentEndpointPageBuilder.php</file>
		</testsuite>
		<testsuite name="utility_classes">
			<file>unittest/utility/TestCheckPageUserAccess.php</file>
			<file>unittest/utility/TestGrabParentPageId.php</file>
			<file>unittest/utility/LocalResourceClientTest.php</file>
			<file>unittest/utility/HtmlFieldValidatorTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>