@charset "UTF-8";
.main_container {
	text-align: center;
	background-color: #002;
	position: absolute;
	height: auto;
	width: 800px;
	top: 39px;
	visibility: visible;
	z-index: auto;
	left: 55px;
}
.type_title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	line-height: 4px;
}
.banner_img {
	background-image: url(/images/main_logo.png);
	height: 200px;
	width: 800px;
	position: relative;
	left: 0px;
	top: 0px;
}
body {
	background-color: #303;
	color: #CCC;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}
.fungusss {
	background-color: #906;
	position: absolute;
	visibility: visible;
	height: 60px;
	width: 60px;
	left: 200px;
	top: 200px;
	right: 200px;
	bottom: 200px;
}
.blogreader {
	position: relative;
	height: auto;
	width: auto;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	clip: rect(auto,auto,auto,auto);
	text-align: left;
	padding: 20px;
	z-index: auto;
}
footer {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: #999;
	vertical-align: middle;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: auto;
	background-color: #036;
	text-align: center;
	padding: 5px;
	height: 20px;
	white-space: normal;
	display: inherit;
}

.section_divider {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #999;
	vertical-align: middle;
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	background-color: #036;
	text-align: center;
	padding: 5px;
	height: 30px;
	white-space: normal;
	display: inherit;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #30E;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #30c;
}
