	@charset "UTF-8";

a:link { 
	color: #999;
	text-decoration:none
}
a:active { 
	color: #999;
	text-decoration:none
}

a:visited { 
	color: #999;
	text-decoration:none
}
a:hover { 
	color: #FFF;
	text-decoration:none
}

	.main_container {
	text-align: center;
	position: relative;
	height: auto;
	width: 100%;
	visibility: visible;
	z-index: auto;
	padding: 0px;
	margin: 0px;
	}
	.type_title {
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 18px;
		color: #FFF;
		text-transform: uppercase;
		line-height: 4px;
	}
	.banner_img {
		background-image: url(/images/main_logo.png);
		height: 200px;
		width: 800px;
		position: relative;
		left: 0px;
		top: 0px;
	}
.copy_block {
	padding-top: 20px;
	padding-right: 80px;
	padding-bottom: 60px;
	padding-left: 80px;
}
	body {
	background-color: #000;
	color: #CCC;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-image: url(../../images/star_field_bg_1.jpg);
	background-repeat: no-repeat;
	padding: 0px;
	}
	.fungusss {
		background-color: #906;
		position: absolute;
		visibility: visible;
		height: 60px;
		width: 60px;
		left: 200px;
		top: 200px;
		right: 200px;
		bottom: 200px;
	}
	.blogreader {
		position: relative;
		height: auto;
		width: auto;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
		clip: rect(auto,auto,auto,auto);
		text-align: left;
		padding: 20px;
		z-index: auto;
	}
	footer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	color: #999;
	vertical-align: middle;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: auto;
	background-color: #002;
	text-align: center;
	padding: 5px;
	height: 20px;
	white-space: normal;
	display: inherit;
	}
	
	.section_divider {
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 18px;
		color: #999;
		vertical-align: middle;
		position: relative;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
		background-color: #036;
		text-align: center;
		padding: 5px;
		height: 30px;
		white-space: normal;
		display: inherit;
	}
.top_nav {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	height: 60px;
	top: 130px;
	overflow: hidden;
	position: relative;
	width: auto;
	vertical-align: middle;
	padding-right: 30px;
	padding-left: 30px;
}
	
	h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #999;
	}
	h2 {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #999;
	}
h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #999;
}
.image_block {
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	width: 800px;
	position: static;
}
	.content_container {
	background-color: #000;
	position: relative;
	height: auto;
	width: 800px;
	top: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	}
.pageheader {
	background-image: url(/images/centagon_banner.png);
	background-position: center top;
	position: relative;
	height: 190px;
	width: 800px;
	top: 0px;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.nav_link_active {
	float: right;
	width: 80px;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav_links_holder {
	vertical-align: middle;
	margin-top: 15px;
}
.social_icon {
	padding: 0px;
	height: 40px;
	width: 60px;
	position: static;
	float: left;
	text-align: center;
}
.soundcloud_embed {
	height: 100px;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}
