	@charset "UTF-8";

/********************** HTML elements **********************/

/* Default styles for standard HTML elements in Toonces pages. */

a:link {
	color: #999;
	text-decoration:none
}
a:active { 
	color: #999;
	text-decoration:none
}

a:visited { 
	color: #999;
	text-decoration:none
}
a:hover { 
	color: #ff9d5f;
	text-decoration:none
}

body {
	background-color: #FFF;
	color: #666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0px;
	line-height: 160%;
}


h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #999;
}

h2 {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #999;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #999;
}

footer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	color: #999;
	vertical-align: middle;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: auto;
	background-color: #002;
	text-align: center;
	padding: 5px;
	height: 20px;
	white-space: normal;
	display: inherit;
}


/********************* Content CSS Classes **********************/

/*  These are the custom div classes making up a standard Toonces page. */

/* .main_container
	Outermost wrapper div class for all page content.
*/
.main_container {
	text-align: center;
	position: relative;
	height: auto;
	width: 100%;
	visibility: visible;
	z-index: auto;
	padding: 0px;
	margin: 0px;
}

/* .content_container
	Nested within .main_container, this div class governs the
	positioning of all content within the page.
*/
.content_container {
	background-color: #FFF;
	position: relative;
	height: auto;
	width: 800px;
	top: 0px;
	display: inline-block;
	text-align: left;
	padding: 0px;
}

/* .pageheader
	Nested within .content_container.
	Provides a default space for titles, banners and/or navigation
	common to all standard Toonces pages.
*/
.pageheader {
	position: relative;
	height: 190px;
	width: 800px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

/* .copy_block
	Div class nested within .content_container.
	This class governs the positioning of body copy.
*/
.copy_block {
	padding-top: 20px;
	padding-right: 80px;
	padding-bottom: 60px;
	padding-left: 80px;
}

/* .image_block
	Div class nested within .content_container.
	This class governs the positioning of images.
*/
.image_block {
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	width: 800px;
	position: static;
}

/* .section_divider
	Div class nested within .content_container.
	Provides a divider similar to a horizontal rule.
*/
.section_divider {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #999;
	vertical-align: middle;
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	background-color: #036;
	text-align: center;
	padding: 5px;
	height: 30px;
	white-space: normal;
	display: inherit;
}	


/********************* Toonces blog elements **********************/

/* .blogreader
	A Div element specific to a Toonces blog.
	Governs positioning of blog content on a blog parent page.
	Nested within .content_container.
*/
.blogreader {
	position: relative;
	height: auto;
	width: auto;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	clip: rect(auto,auto,auto,auto);
	text-align: left;
	padding-right: 80px;
	padding-left: 80px;
	z-index: auto;
}

/* .bottom_nav_container
	Div element. Governs the positioning of the "bottom nav" blocks
	on blog parent pages and individual blog post pages.
	Nested within .content_container.
*/
.bottom_nav_container {
	height: 60px;
	width: 100%;
	position: relative;
	bottom: 0px;
}

/* page_link classes:
	Div elements. These are nested within .bottom_nav_container elements.
	These classes govern the positioning and type style of navigation links
	for blog parent apges and individual blog post pages.
*/
.prev_page_link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	position: relative;
	left: 20px;
	width: 100px;
	text-align: left;
	float: left;
	vertical-align: middle;
	padding-top: 26px;
}

.next_page_link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	position: relative;
	right: 20px;
	width: 100px;
	text-align: right;
	float: right;
	vertical-align: middle;
	padding-top: 26px;
}

.parent_page_link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	position: relative;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding-top: 26px;
}

/********************* Toonces Utility and Admin **********************/

/* .notify_inline
	Governs notification text related to InteractionElement div objects.
*/
.notify_inline {
	color: #F00;
	text-transform: uppercase;
}

/* .TE_toolbarelement
	Positioned above and outside the .main_container element,
	this div element appears when a page is in Admin mode, providing
	the Toonces toolbar.
*/
.TE_toolbarelement {
	color: #C36;
	font-size: 12px;
	background-color: #CFF;
	height: 100px;
	width: 100%;
	top: 0px;
	background-image: url(../../images/toonces_smaller_banner.png);
	background-repeat: no-repeat;
	background-position: left top;
}

/* TE_usergreeting
	Positions text for the toolbar user greeting.
*/
.TE_usergreeting {
	position: relative;
	left: 200px;
	width: 150px;
	height: 100px;
	display: block;
	float: left;
}

/* TE_pagetoolelement
	Container div nested within the TE_toolbarelement div;
	holds the "tools" specific to the page.
*/
.TE_pagetoolelement {
	position: relative;
	left: 200px;
	top: 0px;
	height: 100px;
	width: auto;
	z-index: 0;
	float: left;
	padding: 10px;
}

/* telink
	Overrides default hyperlink colors for the Toonces toolbar.
*/

telink {
	color: #ff884d
}
telink:hover {
	color: #99003d;
}
